.alert {
  width: 300px;
  padding: 10px 20px;
  margin: 40px auto 0px auto;
  line-height: 20px;
  text-align: center;
  color: $google-red;
  background-color: $pink;
  border: 2px solid $google-red;
  border-radius: 5px;
}