.buzzwords {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 0 auto;

  line-height: 20px;
  text-align: center;
  z-index: 1;

  background-color: $deep-ocean;
  color: $azure;
  font-size: $basefont + 2;
  font-weight: 100;

  span {
    display: inline-block;
    margin: 0 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}