.buzzwords {
  position: relative;
  display: block;
  height: auto;
  padding: 10px;
  margin: 0px;
  line-height: 20px;
  text-align: center;
  background-color: $deep-ocean;
  color: $azure;
  font-size: $basefont + 2;
  font-weight: 100;

  span {
    display: inline-block;
    margin: 0px 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}