$height: 62px;

.furniture {
  position: absolute !important;

  border-radius: $border-radius;
  background-color: $concrete;

  .furniture-name {
    overflow: hidden;

    width: 100%;
    margin: ($height - $basefont)/2 auto;

    text-align: center;
    line-height: $basefont;
    color: $white;
  }

  .tooltip {
    position: absolute;

    top: -40px;
    padding: 0 10px;

    background-color: $sterling;
    border-radius: $border-radius;
    text-align: center; 
    white-space: nowrap;

    &:before {
      content: "";
      position: absolute;
      // display: block;

      top: 20px;
      left: 50%;
      // height: 0px;
      // width: 0px;

      border: 8px solid $sterling;
      transform: translateX(-10px) rotate(45deg);
      z-index: -1;
    }

    .tooltip-button {
      display: inline-block;

      padding: 5px 5px;

      font-weight: 100;
      border: none;
      color: $white;
      background-color: rgba(0,0,0,0);
    }
  }

  &.is-active {
    border: 2px solid $azure;
    background-color: $bluish-gray;
    box-shadow: 0px 2px 12px rgba(darken($azure, 10%), .8);
    box-sizing: border-box;
    opacity: .75
  }

  &.desk {
    background: url('../images/furniture/desk.png') center center no-repeat;
    background-size: 116px $height;
    width: 116px;
    height: $height;
  }

  &.plant1 {
    background: url('../images/furniture/plant1.png') center center no-repeat;
    background-size: 50px 53px;
    width: 50px;
    height: 53px;
  }

  &.plant2 {
    background: url('../images/furniture/plant2.png') center center no-repeat;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
  }

  &.pingpong {
    background: url('../images/furniture/pingpong.png') center center no-repeat;
    background-size: 192px 125px;
    width: 192px;
    height: 125px;
  }

  &.ballpit {
    background: url('../images/furniture/ballpit.png') center center no-repeat;
    background-size: 113px 113px;
    width: 113px;
    height: 113px;
  }

  &.pacman {
    background: url('../images/furniture/pacman.png') center center no-repeat;
    background-size: 100px 67px;
    width: 100px;
    height: 67px;
  }

  &.laptop {
    background: url('../images/furniture/laptop.png') center center no-repeat;
    background-size: 40px 29px;
    width: 40px;
    height: 29px;
  }

  &.nerfgun {
    background: url('../images/furniture/nerfgun.png') center center no-repeat;
    background-size: 40px 36px;
    width: 40px;
    height: 36px;
  }

  &.android {
    background: url('../images/furniture/android.png') center center no-repeat;
    background-size: 45px 50px;
    width: 45px;
    height: 50px;
  }

  &.dog_corgi {
    background: url('../images/furniture/dog_corgi.png') center center no-repeat;
    background-size: 32px 63px;
    width: 32px;
    height: 63px;
  }

  &.dog_retriever {
    background: url('../images/furniture/dog_retriever.png') center center no-repeat;
    background-size: 90px 49px;
    width: 90px;
    height: 49px;
  }

  &.redstapler {
    background: url('../images/furniture/redstapler.png') center center no-repeat;
    background-size: 32px 12px;
    width: 32px;
    height: 12px;
  }
}