.furniture {
  border-radius: $border-radius;
  background-color: $concrete;
  position: absolute !important;

  &.is-active {
    border: 2px solid $azure;
    background-color: $bluish-gray;
    box-shadow: 0px 3px 10px rgba($azure, .4);
    box-sizing: border-box;
  }

  &.desk {
    background: url('../images/desk.png') center center no-repeat;
    background-size: 116px 62px;
    width: 116px;
    height: 62px;
  }

  &.plant {
    background: url('../images/plant1.png') center center no-repeat;
    background-size: 50px 53px;
    width: 50px;
    height: 53px;
  }

  &.plant2 {
    background: url('../images/plant2.png') center center no-repeat;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
  }

  &.pingpong {
    background: url('../images/pingpong.png') center center no-repeat;
    background-size: 192px 125px;
    width: 192px;
    height: 125px;
  }

  &.ballpit {
    background: url('../images/ballpit.png') center center no-repeat;
    background-size: 113px 113px;
    width: 113px;
    height: 113px;
  }

  &.pacman {
    background: url('../images/pacman.png') center center no-repeat;
    background-size: 100px 67px;
    width: 100px;
    height: 67px;
  }

  &.laptop {
    background: url('../images/laptop.png') center center no-repeat;
    background-size: 40px 29px;
    width: 40px;
    height: 29px;
  }

  &.nerfgun {
    background: url('../images/nerfgun.png') center center no-repeat;
    background-size: 40px 36px;
    width: 40px;
    height: 36px;
  }

  &.android {
    background: url('../images/android.png') center center no-repeat;
    background-size: 45px 50px;
    width: 45px;
    height: 50px;
  }

  &.dog_corgi {
    background: url('../images/dog_corgi.png') center center no-repeat;
    background-size: 32px 63px;
    width: 32px;
    height: 63px;
  }

  &.dog_retriever {
    background: url('../images/dog_retriever.png') center center no-repeat;
    background-size: 90px 49px;
    width: 90px;
    height: 49px;
  }

  &.redstapler {
    background: url('../images/redstapler.png') center center no-repeat;
    background-size: 32px 12px;
    width: 32px;
    height: 12px;
  }
}