.icon-add  {
  background: url('../images/icons/add.png') center center no-repeat;
}
.icon-background  {
  background: url('../images/icons/backgrounds.png') center center no-repeat;
}
.icon-android  {
  background: url('../images/icons/android.png') center center no-repeat;
}
.icon-ballpit  {
  background: url('../images/icons/ballpit.png') center center no-repeat;
}
.icon-desk  {
  background: url('../images/icons/desk.png') center center no-repeat;
}
.icon-dog  {
  background: url('../images/icons/dog.png') center center no-repeat;
}
.icon-game  {
  background: url('../images/icons/game.png') center center no-repeat;
}
.icon-laptop  {
  background: url('../images/icons/laptop.png') center center no-repeat;
}
.icon-nerfgun  {
  background: url('../images/icons/nerfgun.png') center center no-repeat;
}
.icon-pingpong  {
  background: url('../images/icons/pingpong.png') center center no-repeat;
}
.icon-plant  {
  background: url('../images/icons/plant.png') center center no-repeat;
}
.icon-stapler  {
  background: url('../images/icons/stapler.png') center center no-repeat;
}