.welcome-hero {
  position: relative;
  width: 100%;

  .welcome-hero-logo {
    display: block;
    margin: 0 auto;
    height: 400px;
  }

  .welcome-hero-signin {
    display: block;
    height: 40px;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 100;
    padding: 10px 15px;
    margin: 0 auto;
    border-radius: 3px;
    background-color: $google-red;
    border: 1px solid $google-red;
  }
}