@import 'vars';

header {

  height: 40px;
  background-color: $blue-primary;

  h3 {
    font-weight: 100;
    color: $text-and-icons;
    margin: 0;
    line-height: 40px;
    text-align: center;
  }

  button {
    font-weight: 100;
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    border-radius: $border-radius;
    font-size: $basefont - 4;
    padding: 7.5px 15px;
    background-color: $button-background;
    color: $text-and-icons;
  }
}
