.l-canvas {
  position: relative;
  width: 600px;
  height: 800px;
  padding: 0px;
}
.l-canvas-buffer {
  position: relative;
  width: 600px;
  height: 800px;
  padding: 10px;
}
.l-canvas-wrapper {
  position: relative;
  width: 620px;
  height: 820px;
}
.l-center-canvas {
  margin: 50px auto;
}