/*
* Colors
*
*/

// WHITES
$white: #FFFFFF;

// BLUES
$deep-ocean: #1E7EBB;
$blue-sky: #D3EAF9;
$azure: #2896DD;
$bluish-gray: #F4FAFD;
$dark-blue-green: #33485F;
$blue-green-gray: #94A5A6;

// GRAYS
$concrete: #ECF0F1;
$metal: #D9DDDF;
$sterling: #656565;
$black: #000000;

// REDS
$salmon: #F7BDB4;
$pink: #FEF3F2;
$google-red: #E34E33;


/*
* Typopgraphy
*
*/

$font: "Proxima Nova", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
$basefont: 14px;
$baseline: 24px;
