
/*
* Colors
*
*/

$azure: #2896DD;
$bluish-gray: #F4FAFD;
$dark-blue-green: #33485F;
$blue-green-gray: #94A5A6;
$white: #FFFFFF;
$deep-ocean: #1E7EBB;
$concrete: #ECF0F1;
$metal: #D9DDDF;
$blue-sky: #D3EAF9;


/*
* Typopgraphy
*
*/

$font: "Proxima Nova", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
$basefont: 14px;
$baseline: 24px;
$border-radius: 5px;
