/*
* Background Previews
*
*/

.background-preview-carpet {
  background: url('../images/backgrounds/preview/carpet.png') top left repeat;
}
.background-preview-grid {
  background: url('../images/backgrounds/preview/grid.png') top left repeat;
}
.background-preview-wood {
  background: url('../images/backgrounds/preview/wood.png') top left repeat;
}
.background-preview-tile {
  background: url('../images/backgrounds/preview/tile.png') top left repeat;
}


/*
* Backgrounds
*
*/
.background-carpet {
  background: url('../images/backgrounds/full/carpet.png') top left repeat;
}
.background-grid {
  background: url('../images/backgrounds/full/grid.png') top left repeat;
}
.background-wood {
  background: url('../images/backgrounds/full/wood.png') top left repeat;
}
.background-tile {
  background: url('../images/backgrounds/full/tile.png') top left repeat;
}
.background-blueprint {
  background: url('../images/backgrounds/full/blueprint.png') top left no-repeat;
  background-size: 620px 820px;
}
