/////////////////
// COLORS
/////////////////

// WHITES
$white: #FFFFFF;

// BLUES
$deep-ocean: #1E7EBB;
$blue-sky: #D3EAF9;
$azure: #2896DD;
$bluish-gray: #F4FAFD;
$dark-blue-green: #33485F;
$blue-green-gray: #94A5A6;

// GRAYS
$concrete: #ECF0F1;
$metal: #D9DDDF;

// REDS
$salmon: #F7BDB4;
$pink: #FEF3F2;
$google-red: #E34E33;

// SIZES
$border-radius: 5px;
$basefont: 14px;
