<!doctype html>
<html>
  <head>
    <title>Office Mover 5000</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
    <link rel="stylesheet" href="resources/css/app.css">
  </head>

  <body>

      <header class="toolbar">
        <ul class="toolbar-menu">
          <li id="add-furniture"><button class="toolbar-icon-button" >Select Furniture</button></li>
          <li id="select-background"><button class="toolbar-icon-button" >Select Background</button></li>
        </ul>
        <h1 class="toolbar-title">Office Mover</h1>
        <button class="toolbar-sign-out">SIGN OUT</button>
      </header>

      <div id="office-space" class="editor">
        <!-- <button class="editor-new" data-name="desk">new desk</button> -->
        <!-- <button class="editor-new" data-name="plant">new plant</button> -->
      </div>


      <script id="template-dropdown" type="text/template">
        <div class="dropdown">
          <span class="dropdown-arrow"></span>
          <ul class="dropdown-options">
            <%= items %>
          </ul>
        </div>
      </script>

      <script id="template-dropdown-item" type="text/template">
        <li data-type="<%= type %>" data-name="<%= name %>" class="<%= name %>">
          <a href="#" class="dropdown-button">
            <i class="dropdown-button-icon"></i>
            <%= description %>
          </a>
        </li>
      </script>



      <script src="https://cdn.firebase.com/js/client/1.1.2/firebase.js"></script>
      <script src="bower_components/jquery/jquery.js"></script>
      <script src="bower_components/jquery-ui/jquery-ui.js"></script>
      <script src="bower_components/lodash/dist/lodash.js"></script>
      <script src="resources/js/production.js"></script>
  </body>
</html>